.starsLogo:hover { box-shadow: 5px 5px 3px rgb(234, 0, 255); }

.landxx_ma:hover { box-shadow: 5px 5px 3px rgb(234, 0, 255); }

.landxx_ma_eh:hover { box-shadow: 5px 5px 3px rgb(234, 0, 255); }

.landxx_eu_lt:hover { fill: yellow; stroke: blue; pointer-events:all; }

.landxx_eu_lt { fill: red; stroke: green; pointer-events:all; }

#lt:hover { fill: yellow; stroke: blue; pointer-events:stroke }

#lt { fill: red; stroke: green; pointer-events:stroke }

path:hover { fill: yellow; stroke: blue; pointer-events:all; }

path { fill: red; stroke: green; pointer-events:all; }

#xa:hover {box-shadow: 5px 5px 3px rgb(234, 0, 255);}

#xa { fill: green; stroke: orange; pointer-events:all; }

#sud svg path {box-shadow: 5px 5px 3px rgb(234, 0, 255);}

#sud svg:hover path { fill: green; stroke: orange; pointer-events:all; }

#ch { fill: green; stroke: orange; pointer-events:all; }
#ch path:hover {fill: yellow; stroke: blue; pointer-events:all; }
.landxx_ch path:hover {fill: yellow; stroke: blue; pointer-events:all; }



#sd { fill: red; stroke: green; pointer-events:all; }

#sd:hover { fill: yellow; stroke: blue; pointer-events:all; }

#ss path { fill: red; stroke: green; pointer-events:all; }

#ss path:hover { fill: yellow; stroke: blue; pointer-events:all; }

#ge- { fill: red; stroke: green; pointer-events:all; }

#ge-:hover { fill: yellow; stroke: blue; pointer-events:all; }

path { fill: red; stroke: green; pointer-events:all; }

path:hover { fill: yellow; stroke: blue; pointer-events:all; }

/*.yearEntry2{float:center;
  font-size: 16px;
width: 150px;
height: 75px;
color:lightslategrey;
vertical-align: top;


.landxx ma{float:right;
  font-size:20px;
width: 215px;
height: 128px;
color: lightblue;
vertical-align: top;
margin-right: 20px;
rotate: -20.2deg;
}


}*/
